In [8]:
import pandas as pd
import numpy as np

In [9]:
prices = np.array([[1, 2, 3], [4, 5, 6,], [7, 8, 9]])
prices

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [20]:
allocs = np.array([.2, .3, .5])
print(allocs)

[0.2 0.3 0.5]

In [69]:
df = pd.DataFrame(prices)
normed = df / df.iloc[0]
alloced = normed * allocs
port_val = alloced.sum(axis=1)
daily_rets = port_val.copy()
daily_rets[1:] = (port_val[1:] / port_val[:-1].values) - 1
daily_rets.iloc[0] = 0
#cum_ret = (port_val[-1] / port_val[0]) - 1

avg_daily_ret = daily_returns.mean(axis=1)
std_daily_ret = daily_returns.std(axis=1)
cum_ret = (port_val.values[-1] / port_val[0]) - 1

print('orig')
display(df)
print('norm')
display(normed)
print('alloced')
display(alloced)
print('daily_ret')
display(daily_rets)
print('port_val')
print(port_val)

print('avg_daily_ret')
print(daily_rets.mean())
print(cum_ret)

orig

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

norm

     0    1    2
0  1.0  1.0  1.0
1  4.0  2.5  2.0
2  7.0  4.0  3.0

alloced

     0     1    2
0  0.2  0.30  0.5
1  0.8  0.75  1.0
2  1.4  1.20  1.5

daily_ret

0    0.000000
1    1.550000
2    0.607843
dtype: float64

port_val
0    1.00
1    2.55
2    4.10
dtype: float64
avg_daily_ret
0.719281045751634
3.0999999999999996

In [67]:
(((0,1), ) * 5)

((0, 1), (0, 1), (0, 1), (0, 1), (0, 1))